@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* i know this ain't best practice */
html {
  font-family: 'jura', sans-serif;
  font-size: 14px;
  text-transform: lowercase;

  line-height: 100%;
}

.carousel-thumbnail:hover {
  opacity: 0.8 !important;
  transition: opacity 0.3s ease-in-out;
  outline: 1px solid white;
  border-radius: 0.25rem;
}
