@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/* i know this ain't best practice */
html {
    font-family: "jura", sans-serif;
    font-size: 12px;
    text-transform: lowercase;
    color: #7e7e7e;
    line-height: 100%;
}
